body{
    background-image: url('/static/images/index_back.png');
    background-repeat: no-repeat;
    z-index: -1;
}

#left_div{
    width: 50%;
    float: left;
    text-align: center;
}

#right_div{
    width: 48%;
    float: right;
    text-align: center;
}

#Bank_logo{
    height: 210px;
    width: 210px;
    margin-top: 50px;
}

#left_div_text{
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: #295D09;
}

#registered_user{
    margin-top: 40%;
    font-size: 30px;
    height: 60px;
    width: 270px;
    font-weight: bold;
    border-radius: 30px;
    border: 3px solid #295D09;
    color: #295D09;
    background-color: #82EFEA;
}

#new_user{
    font-size: 30px;
    margin-top: 50px;
    height: 60px;
    width: 270px;
    font-weight: bold;  
    border-radius: 30px; 
    border: 3px solid #295D09;
    color: #295D09;
    background-color: #82EFEA;
}