body{
    background-image: url('/static/images/contact_us_back.png');
    background-repeat: no-repeat;
    z-index: -1;
}

#home_a{
    float: right;
    font-family: monospace;
    text-decoration: none;
    color: #295D09;
    margin-right: 10px;
    font-size: x-large;
    margin-top: 10px;
}

#img{
    margin-top: 150px;
    margin-left: 60px;
    width: fit-content;
    float: left;
}

/* div containing all elements */
#div1
{
    border: 1px solid;
    height: 400px;
    width: 450px; 
    box-shadow: 8px 8px 10px gray;
    border-radius: 4px;
    margin-left: 60%;
    margin-right: 10%;
    text-align: center;
    margin-top: -410px;
    float: right;
}

/* user name field */
#name
{
    width: 90%;
    margin-top: 20px;
    height: 25px;
}

/* heading type */
#msg1
{
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
    color: #295D09;
}

/* user email id */
#email
{
    width: 90%;
    margin-top: 20px;
    height: 25px;
}

/* user written message */
#message
{
    width: 90%;
    margin-top: 20px;
    height: 55px;
}

#btn
{
    width:30%;
    height:25px;
    margin-top: 20px;
    font-size: 15px;
    background-color: #295D09;
    color: white;
    border: 0;
}
