#main_div{
    border: 2px solid #295D09;
    width: fit-content;
    margin-left: 32%;
    margin-top: 13%;
    border-radius: 10px;
}

#header{
    height: 50px;
    border-bottom: 2px solid #295D09;
}

#heading{
    font-family: monospace;
    font-weight: bolder;
    color: #295D09;
    font-size: 30px;
    border: 0;
    padding: 7px 0 0 7px;
    margin-left: 6px;
}

#upper{
    padding: 10px;
    border-bottom: 2px solid #295D09;
}

#label{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    border: 0;
    background-color: white;
    color: #295D09;
}

#label_val{
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
    border: 1px solid #295D09;
    background-color: white;
    color: #295D09;
    margin-bottom: 20px;
}

#lower{
    height: 40px;
}

#pay{
    float: inline-end;
    font-family: monospace;
    font-weight: bold;
    border: 0;
    border-left: 2px solid #295D09;
    font-size: 20px;
    height: 40px;
    color: #295D09;
    margin-left: 79.5%;
    padding: 0 20px 0 20px;
    background-color: #82EFEA;
    border-radius:  0 0 7px 0;
}

#home_a{
    float: right;
    font-family: monospace;
    text-decoration: none;
    color: #295D09;
    margin-right: 10px;
    font-size: x-large;
    margin-top: -180px;
}