#heading{
    height: 40px;
    background-color: #82EFEA;
    border-radius: 10px;
    padding-top: 10px;
}

#heading_text{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    color: #295D09;
}

#label{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    color: #295D09;
    width: 150px;
    background-color: white;
    border: 0;
}

.label_value{
    font-size: 20px;
    margin-left: 20px;
    color: #295D09;
    width: 300px;
    background-color: white;
    border: 0;
}

.bank_details{
    margin-top: 20px;
}

#Deposite{
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    color: #295D09;
    background-color: #82EFEA;
    margin-left: 20px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #295D09;
}

#Save{
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    color: #295D09;
    background-color: #82EFEA;
    margin-left: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #295D09;
}

#home_a{
    font-family: monospace;
    text-decoration: none;
    color: #295D09;
    margin-right: 10px;
    font-size: x-large;
}

#home{
    margin-top: 20px;
    text-align: center;
}