<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="/static/about.css">
    </head>
    <body>

        <div id="home_btn">
            <a id="home_a" href="/home">Return to home</a>
        </div>

        <div id="upp_div1">
            About Us
        </div>

        <div id="main_body">
            
            <div id="about1">

                <div id="about1_left_div">
                    <img id="about1_img" src="/static/images/about1_img.jpg" alt="About1 Image">
                </div>

                <div id="about1_right_div">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate maiores assumenda porro expedita doloremque quo velit. Molestiae aperiam eum vel possimus numquam, tempora minima cum iste quas quibusdam incidunt voluptatem voluptatibus totam earum, pariatur beatae ducimus provident velit temporibus nobis? Voluptatibus optio impedit quae, alias exercitationem ratione eveniet totam commodi vero in fugiat officiis nemo placeat nisi illum quis! Velit reiciendis debitis quo aliquam eveniet voluptate facere quia commodi repellendus iusto! Non voluptatibus quae eaque repellendus a incidunt quaerat nisi, quas aspernatur ipsa temporibus at deleniti est aperiam modi ad, perspiciatis deserunt hic! Possimus accusantium voluptatum quaerat, velit nostrum tempora.
                </div>

            </div>

            <div id="about2">

                <div id="about2_left_div">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate maiores assumenda porro expedita doloremque quo velit. Molestiae aperiam eum vel possimus numquam, tempora minima cum iste quas quibusdam incidunt voluptatem voluptatibus totam earum, pariatur beatae ducimus provident velit temporibus nobis? Voluptatibus optio impedit quae, alias exercitationem ratione eveniet totam commodi vero in fugiat officiis nemo placeat nisi illum quis! Velit reiciendis debitis quo aliquam eveniet voluptate facere quia commodi repellendus iusto! Non voluptatibus quae eaque repellendus a incidunt quaerat nisi, quas aspernatur ipsa temporibus at deleniti est aperiam modi ad, perspiciatis deserunt hic! Possimus accusantium voluptatum quaerat, velit nostrum tempora.
                </div>

                <div id="about2_right_div">
                    <img id="about1_img" src="/static/images/about2_img.jpg" alt="About1 Image">
                </div>

            </div>

            <div id="footer">
                &copy; 2022-2023 Pie Bank of India
            </div>

        </div>
        
    </body>
</html>